<% if user_signed_in? %>
<%= "Bem-Vindo, #{current_user.name}" %>
<div>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<% else %>
<div>
<%= link_to 'Entrar', new_user_session_path %>
</div>
<% end %>
<h1>Rental Cars</h1>

