<% if @car_models.present? %>

<h1>Modelos de Carro </h1>
<% @car_models.each do |car_model| %>
<div>
<h3><%= link_to "#{car_model.name} - #{car_model.year}", car_model %></h3>
<ul>
<li><%= car_model.manufacturer %></li>
<li><%= car_model.car_category.name %></li>
</ul>
</div>
<% end %>
<% else %>
<h3>Não há modelos cadastrados</h3>
<% end %>

<h3><%= link_to 'Voltar', root_path %>
